<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question details</title>
</head>
<body>
    <h1>{{ question.question_text }}</h1>
    <h3>Date published: {{ question.publication_date }}</h3>
{% if error_message %}<p style="color:Tomato"><strong>{{ error_message }}</strong></p>{% endif %}
{% if question.choice_set.all %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
        <br><input type="submit" value="Vote">
    </form>
    <br>
{% else %}
    <p>No choices are available for this question yet.</p>
{% endif %}
    <a href="{% url 'polls:index' %}">Go back to question list</a>
</body>
</html>
